In [1]:
## Q No. 1 :
"""
A database is an organized collection of structured information, or data, typically stored electronically in a computer system.
A database is usually controlled by a database management system (DBMS).


SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.
SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores.
SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.
"""

'\nA database is an organized collection of structured information, or data, typically stored electronically in a computer system.\nA database is usually controlled by a database management system (DBMS).\n\n\nSQL databases are vertically scalable, while NoSQL databases are horizontally scalable.\nSQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores.\nSQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.\n'

In [2]:
## Q No. 2 :

"""
DDL is an abbreviation of Data Definition Language.

The DDL Commands in Structured Query Language are used to create and modify the schema of the database and its objects. 
The syntax of DDL commands is predefined for describing the data. 
The commands of Data Definition Language deal with how the data should exist in the database.

Following are the five DDL commands in SQL:

1.CREATE Command
CREATE is a DDL command used to create databases, tables, triggers and other database objects.
Example 1: This example describes how to create a new database using the CREATE DDL command.

Syntax to Create a Database:

CREATE Database Database_Name;  
Suppose, you want to create a Books database in the SQL database. To do this, you have to write the following DDL Command:

Create Database Books;  

2.DROP Command
DROP is a DDL command used to delete/remove the database objects from the SQL database. 
We can easily remove the entire table, view, or index from the database using this DDL command.

Examples of DROP Command in SQL
Example 1: This example describes how to remove a database from the SQL database.

Syntax to remove a database:

DROP DATABASE Database_Name;  
Suppose, you want to delete the Books database from the SQL database. To do this, you have to write the following DDL command:

DROP DATABASE Books;  
3.ALTER Command
ALTER is a DDL command which changes or modifies the existing structure of the database, and it also changes the schema of database objects.

We can also add and drop constraints of the table using the ALTER command.

Examples of ALTER Command in SQL
Example 1: This example shows how to add a new field to the existing table.

Syntax to add a newfield in the table:

ALTER TABLE name_of_table ADD column_name column_definition;  
Suppose, you want to add the 'Father's_Name' column in the existing Student table.
To do this, you have to write the following DDL command:

ALTER TABLE Student ADD Father's_Name Varchar(60); 
4.TRUNCATE Command

TRUNCATE is another DDL command which deletes or removes all the records from the table.

This command also removes the space allocated for storing the table records.

Syntax of TRUNCATE command

TRUNCATE TABLE Table_Name;  
Example
Suppose, you want to delete the record of the Student table. To do this, you have to write the following TRUNCATE DDL command:

TRUNCATE TABLE Student;  
The above query successfully removed all the records from the student table. Let's verify it by using the following SELECT statement:

SELECT * FROM Student;  
5.RENAME Command
RENAME is a DDL command which is used to change the name of the database table.

Syntax of RENAME command

RENAME TABLE Old_Table_Name TO New_Table_Name;  
Example
RENAME TABLE Student TO Student_Details ;  

"""

"\nDDL is an abbreviation of Data Definition Language.\n\nThe DDL Commands in Structured Query Language are used to create and modify the schema of the database and its objects. \nThe syntax of DDL commands is predefined for describing the data. \nThe commands of Data Definition Language deal with how the data should exist in the database.\n\nFollowing are the five DDL commands in SQL:\n\n1.CREATE Command\nCREATE is a DDL command used to create databases, tables, triggers and other database objects.\nExample 1: This example describes how to create a new database using the CREATE DDL command.\n\nSyntax to Create a Database:\n\nCREATE Database Database_Name;  \nSuppose, you want to create a Books database in the SQL database. To do this, you have to write the following DDL Command:\n\nCreate Database Books;  \n\n2.DROP Command\nDROP is a DDL command used to delete/remove the database objects from the SQL database. \nWe can easily remove the entire table, view, or index from the database using this DDL command.\n\nExamples of DROP Command in SQL\nExample 1: This example describes how to remove a database from the SQL database.\n\nSyntax to remove a database:\n\nDROP DATABASE Database_Name;  \nSuppose, you want to delete the Books database from the SQL database. To do this, you have to write the following DDL command:\n\nDROP DATABASE Books;  \n3.ALTER Command\nALTER is a DDL command which changes or modifies the existing structure of the database, and it also changes the schema of database objects.\n\nWe can also add and drop constraints of the table using the ALTER command.\n\nExamples of ALTER Command in SQL\nExample 1: This example shows how to add a new field to the existing table.\n\nSyntax to add a newfield in the table:\n\nALTER TABLE name_of_table ADD column_name column_definition;  \nSuppose, you want to add the 'Father's_Name' column in the existing Student table.\nTo do this, you have to write the following DDL command:\n\nALTER TABLE Student ADD Father's_Name Varchar(60); \n4.TRUNCATE Command\n\nTRUNCATE is another DDL command which deletes or removes all the records from the table.\n\nThis command also removes the space allocated for storing the table records.\n\nSyntax of TRUNCATE command\n\nTRUNCATE TABLE Table_Name;  \nExample\nSuppose, you want to delete the record of the Student table. To do this, you have to write the following TRUNCATE DDL command:\n\nTRUNCATE TABLE Student;  \nThe above query successfully removed all the records from the student table. Let's verify it by using the following SELECT statement:\n\nSELECT * FROM Student;  \n5.RENAME Command\nRENAME is a DDL command which is used to change the name of the database table.\n\nSyntax of RENAME command\n\nRENAME TABLE Old_Table_Name TO New_Table_Name;  \nExample\nRENAME TABLE Student TO Student_Details ;  \n\n"

In [3]:
## Q No. 3 :

"""
DML is an abbreviation for Data Manipulation Language. 
Represents a collection of programming languages explicitly used to make changes to the database, such as:

1.CRUD operations to create, read, update and delete data.
2.Using INSERT, SELECT, UPDATE, and DELETE commands.
Examples of DML Commands
-> INSERT: command to add new or new value to the database

INSERT DML Command
INSERT is another most important data manipulation command in Structured Query Language, which allows users to insert data in database tables.

Syntax of INSERT Command

INSERT INTO TABLE_NAME ( column_Name1 , column_Name2 , column_Name3 , .... column_NameN )  VALUES (value_1, value_2, value_3, .... value_N ) ;   
Examples of INSERT Command
Example 1: This example describes how to insert the record in the database table.

Let's take the following student table, which consists of only 2 records of the student.

Stu_Id	Stu_Name	Stu_Marks	Stu_Age
101	Ramesh	92	20
201	Jatin	83	19
Suppose, you want to insert a new record into the student table. For this, you have to write the following DML INSERT command:

INSERT INTO Student (Stu_id, Stu_Name, Stu_Marks, Stu_Age) VALUES (104, Anmol, 89, 19);  


UPDATE: command to change or update current/existing data to a more recent value within the database

UPDATE is another most important data manipulation command in Structured Query Language, which allows users to update
or modify the existing data in database tables.

Syntax of UPDATE Command

UPDATE Table_name SET [column_name1= value_1, ….., column_nameN = value_N] WHERE CONDITION;  
Here, 'UPDATE', 'SET', and 'WHERE' are the SQL keywords, and 'Table_name' is the name of the table whose values you 
want to update.

Examples of the UPDATE command
Example 1: This example describes how to update the value of a single field.

Let's take a Product table consisting of the following records:

Product_Id	Product_Name	Product_Price	Product_Quantity
P101	Chips	20	20
P102	Chocolates	60	40
P103	Maggi	75	5
P201	Biscuits	80	20
P203	Namkeen	40	50
Suppose, you want to update the Product_Price of the product whose Product_Id is P102. 
To do this, you have to write the following DML UPDATE command:

UPDATE Product SET Product_Price = 80 WHERE Product_Id = 'P102' ;  




DELETE: command to delete or delete the values or data information of the current table in the database
This command of Data Manipulation Language does not delete the stored data permanently from the database.
We use the WHERE clause with the DELETE command to select specific rows from the table.

Syntax of DELETE Command

DELETE FROM Table_Name WHERE condition;  
Examples of DELETE Command
Example 1: This example describes how to delete a single record from the table.

Let's take a Product table consisting of the following records:

Product_Id	Product_Name	Product_Price	Product_Quantity
P101	Chips	20	20
P102	Chocolates	60	40
P103	Maggi	75	5
P201	Biscuits	80	20
P203	Namkeen	40	50
Suppose, you want to delete that product from the Product table whose Product_Id is P203. 
To do this, you have to write the following DML DELETE command:

DELETE FROM Product WHERE Product_Id = 'P202' ;  

"""

"\nDML is an abbreviation for Data Manipulation Language. \nRepresents a collection of programming languages explicitly used to make changes to the database, such as:\n\n1.CRUD operations to create, read, update and delete data.\n2.Using INSERT, SELECT, UPDATE, and DELETE commands.\nExamples of DML Commands\n-> INSERT: command to add new or new value to the database\n\nINSERT DML Command\nINSERT is another most important data manipulation command in Structured Query Language, which allows users to insert data in database tables.\n\nSyntax of INSERT Command\n\nINSERT INTO TABLE_NAME ( column_Name1 , column_Name2 , column_Name3 , .... column_NameN )  VALUES (value_1, value_2, value_3, .... value_N ) ;   \nExamples of INSERT Command\nExample 1: This example describes how to insert the record in the database table.\n\nLet's take the following student table, which consists of only 2 records of the student.\n\nStu_Id\tStu_Name\tStu_Marks\tStu_Age\n101\tRamesh\t92\t20\n201\tJatin\t83\t19\nSuppose, you want to insert a new record into the student table. For this, you have to write the following DML INSERT command:\n\nINSERT INTO Student (Stu_id, Stu_Name, Stu_Marks, Stu_Age) VALUES (104, Anmol, 89, 19);  \n\n\nUPDATE: command to change or update current/existing data to a more recent value within the database\n\nUPDATE is another most important data manipulation command in Structured Query Language, which allows users to update\nor modify the existing data in database tables.\n\nSyntax of UPDATE Command\n\nUPDATE Table_name SET [column_name1= value_1, ….., column_nameN = value_N] WHERE CONDITION;  \nHere, 'UPDATE', 'SET', and 'WHERE' are the SQL keywords, and 'Table_name' is the name of the table whose values you \nwant to update.\n\nExamples of the UPDATE command\nExample 1: This example describes how to update the value of a single field.\n\nLet's take a Product table consisting of the following records:\n\nProduct_Id\tProduct_Name\tProduct_Price\tProduct_Quantity\nP101\tChips\t20\t20\nP102\tChocolates\t60\t40\nP103\tMaggi\t75\t5\nP201\tBiscuits\t80\t20\nP203\tNamkeen\t40\t50\nSuppose, you want to update the Product_Price of the product whose Product_Id is P102. \nTo do this, you have to write the following DML UPDATE command:\n\nUPDATE Product SET Product_Price = 80 WHERE Product_Id = 'P102' ;  \n\n\n\n\nDELETE: command to delete or delete the values or data information of the current table in the database\nThis command of Data Manipulation Language does not delete the stored data permanently from the database.\nWe use the WHERE clause with the DELETE command to select specific rows from the table.\n\nSyntax of DELETE Command\n\nDELETE FROM Table_Name WHERE condition;  \nExamples of DELETE Command\nExample 1: This example describes how to delete a single record from the table.\n\nLet's take a Product table consisting of the following records:\n\nProduct_Id\tProduct_Name\tProduct_Price\tProduct_Quantity\nP101\tChips\t20\t20\nP102\tChocolates\t60\t40\nP103\tMaggi\t75\t5\nP201\tBiscuits\t80\t20\nP203\tNamkeen\t40\t50\nSuppose, you want to delete that product from the Product table whose Product_Id is P203. \nTo do this, you have to write the following DML DELETE command:\n\nDELETE FROM Product WHERE Product_Id = 'P202' ;  \n\n"

In [4]:
## Q No. 4 :
"""
DQL (Data Query Language) Command in SQL
DQL or data query language is to perform the query on the data inside the schema or object
(ie table, index, view, function, etc). 
With the help of a DQL query, we can get the data from the database to perform actions or operations like analyzing the data.


SELECT is the most important data manipulation command in Structured Query Language. The SELECT command shows the
records of the specified table. It also shows the particular record of a particular column by using the WHERE clause.

Syntax of SELECT DML command

SELECT column_Name_1, column_Name_2, ….., column_Name_N FROM Name_of_table;  
Here, column_Name_1, column_Name_2, ….., column_Name_N are the names of those columns whose data we want to retrieve
from the table.

If we want to retrieve the data from all the columns of the table, we have to use the following SELECT command:

SELECT * FROM table_name;  
Examples of SELECT Command
Example 1: This example shows all the values of every column from the table.

SELECT * FROM Student;  
This SQL statement displays the following values of the student table:

Student_ID	Student_Name	Student_Marks
BCA1001	Abhay	85
BCA1002	Anuj	75
BCA1003	Bheem	60
BCA1004	Ram	79
BCA1005	Sumit	80
"""

'\nDQL (Data Query Language) Command in SQL\nDQL or data query language is to perform the query on the data inside the schema or object\n(ie table, index, view, function, etc). \nWith the help of a DQL query, we can get the data from the database to perform actions or operations like analyzing the data.\n\n\nSELECT is the most important data manipulation command in Structured Query Language. The SELECT command shows the\nrecords of the specified table. It also shows the particular record of a particular column by using the WHERE clause.\n\nSyntax of SELECT DML command\n\nSELECT column_Name_1, column_Name_2, ….., column_Name_N FROM Name_of_table;  \nHere, column_Name_1, column_Name_2, ….., column_Name_N are the names of those columns whose data we want to retrieve\nfrom the table.\n\nIf we want to retrieve the data from all the columns of the table, we have to use the following SELECT command:\n\nSELECT * FROM table_name;  \nExamples of SELECT Command\nExample 1: This example shows all the values of every column from the table.\n\nSELECT * FROM Student;  \nThis SQL statement displays the following values of the student table:\n\nStudent_ID\tStudent_Name\tStudent_Marks\nBCA1001\tAbhay\t85\nBCA1002\tAnuj\t75\nBCA1003\tBheem\t60\nBCA1004\tRam\t79\nBCA1005\tSumit\t80\n'

In [5]:
##  Q No. 5 :
## A primary key generally focuses on the uniqueness of the table. It assures the value in the specific column is unique.
## A foreign key is generally used to build a relationship between the two tables. The table allows only one primary key.

In [7]:
## Q No. 6 :
"""
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

A cursor is an object which helps to execute the query and fetch the records from the database. 
The Execute method executes a specified query, SQL statement, stored procedure, or provider-specific text. 
The results are stored in a new Recordset object if it is a row-returning query. 
A closed Recordset object will be returned if it is not a row-returning query.
"""

'\nimport mysql.connector\n# import mysql.connector\n#create user \'user\'@\'%\' identified by \'password\'\nmydb = mysql.connector.connect(\n  host="localhost",\n  user="abc",\n  password="password"\n)\nprint(mydb)\nmycursor = mydb.cursor()\nmycursor.execute("SHOW DATABASES")\nfor x in mycursor:\n  print(x)\n\nA cursor is an object which helps to execute the query and fetch the records from the database. \nThe Execute method executes a specified query, SQL statement, stored procedure, or provider-specific text. \nThe results are stored in a new Recordset object if it is a row-returning query. \nA closed Recordset object will be returned if it is not a row-returning query.\n'

In [9]:
## Q No. 7 :
"""

The order in which the clauses in queries are executed is as follows:

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.

"""

'\n\nThe order in which the clauses in queries are executed is as follows:\n\n1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.\n\n2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.\n\n3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.\n\n4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.\n\n5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.\n\n6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.\n\n7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.\n\n'